{% extends 'base.html' %}

{% block title %}Hapus Laporan{% endblock %}

{% block content %}

<style>
    .delete-box {
        background: rgba(209, 227, 255, 0.1);
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.2);

        padding: 20px;
        border-radius: 20px;

        width: 90%;
        max-width: 400px;
        margin: 0 auto;

        text-align: center;
        color: white;

        /* Animasi masuk */
        animation: fadeIn 0.5s ease;
    }


    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .warning-icon {
        font-size: 40px;
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 10px;
        font-weight: 600;
    }

    p {
        font-size: 14px;
        opacity: 0.9;
        margin-bottom: 20px;
    }

    .btn-danger {
        font-weight: 600;
    }

    .btn-secondary {
        background-color: black !important;
        border: none;
        font-weight: 600;
    }

    .btn-secondary:hover {
        background-color: #333 !important;
        font-weight: 600;
    }

</style>

<div class="delete-box">

    <div class="warning-icon">⚠️</div>

    <h2>Hapus Laporan</h2>

    <p>
        Yakin mau hapus:<br>
        <b>{{ report.title }}</b>?
    </p>

    <form method="POST" onsubmit="showLoading('delete-btn')">
        {% csrf_token %}
        
        <button type="submit" id="delete-btn" class="btn btn-danger w-100">
            Hapus
        </button>

        <a href="{% url 'home' %}" class="btn btn-secondary w-100 mt-2">
            Batal
        </a>
    </form>

</div>

<script>
function showLoading(btnId) {
    const btn = document.getElementById(btnId);

    btn.disabled = true;
    btn.innerText = "Loading...";
}
</script>

{% endblock %}